

html{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
    font-size: 36px;
    line-height: 61px;
}

.page-content{
    padding-top: 4%;
}

footer{
    text-align: center;
    font-size: medium;
    font-weight: bold;
    background-color: gainsboro;
}